.Rproj.user
.Rhistory
.RData
.Ruserdata

Flask/flask-tutorial/venv/
Flask/flask-tutorial/*.pyc
Flask/flask-tutorial/__pycache__/
Flask/flask-tutorial/instance/
Flask/flask-tutorial/.pytest_cache/
Flask/flask-tutorial/.coverage
Flask/flask-tutorial/htmlcov/
Flask/flask-tutorial/dist/
Flask/flask-tutorial/build/
Flask/flask-tutorial/*.egg-info/
Flask/flask-tutorial/flaskr/__pycache__/
*.pyc

Flask/flask_template/.idea/
Flask/flask_template/.env
Flask/flask_template/flask_template.db
Flask/flask_template/migrations

data/mortgage_data_rapids/

Interpretable_ML_Book/data/aa-domestic-delays-2018.csv

*__pycache__*
*.ipynb_checkpoints*
