form textarea {
    min-height: 200px;
}

.title-text {
    color: #191970;
}

.sidebar-single-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding: 20px 10px;
    background-color: #f8f9fa;
}

.sidebar-multi-page {
    background-color: #f8f9fa;
}

.dash-title-text {
    textAlign: center;
    color: #191970;
    margin-top: 30px;
    margin-bottom: 20px;
}

.dash-content {
    margin-left: 25%;
    margin-right: 5%;
    top: 0;
    padding: 20px 10px;
}

.dash-text {
    textAlign: center;
    color: #191970;
}

.dash-card-text {
    textAlign: center;
    color: #0074D9;
}
