<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %} - Flask + Dash</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Flask + Dash</h1>
    <a class="action" href="{{ url_for('home') }}">Home</a>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</html>