{% extends "bootstrap/base.html" %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/RStudio-Logo-Flat-icon.png') }}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }}{% else %}{{ 'POC: ML Model Deployment and Monitoring' }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">{{ 'Toggle Navigation' }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ title }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                </ul>
                <img src="{{ url_for('static', filename='images/sclogo_no_background.png') }}" alt="Santee Cooper Logo" style="max-height: 90%; position: absolute; right: 30%; margin-top: 2px">
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content is provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}
